*{
    margin:0;
    padding: 0;
}

html,body{
    font-family: 'Roboto', sans-serif;
}

a{
    color:white;
}

.table td,.table th {
    text-align: center;
}

a:hover{
    color: white;
    text-decoration: none;
}

li{
    list-style: none;
}

.container-fluid{
    padding: 0;
}

table .btn{
    padding: 0;
}

table .fas{
    font-size: 17px;
    margin:5px;
}

